body {
    margin: 0;
    padding: 0;
    background-color: yellow;
    overflow: hidden;
}

.teatro {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sipario {
    width: 50%;
    height: calc(100% - 40px);
    background-color: #222;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: aperturaSipario 5s forwards;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.immagini-serie {
    display: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.immagini-serie.show {
    display: block;
    animation: showImages 4s forwards;
}

@keyframes aperturaSipario {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(-150%);
    }
    99.99% {
        visibility: hidden;
    }
}

@keyframes showImages {
    to {
        opacity: 1;
    }
}

.immagini-serie img {
    width: 450px;
    height: 220px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0 auto;
}

.immagini-serie img:last-child {
    margin-bottom: 0;
}

.testo {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: calc(60% + 300px + 20px);
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: showText 4s forwards;
    font-size: 24px;
}

.box {
    position: relative;
    margin-bottom: 120px;
    text-align: right;
    font-weight: bold;
}

.box:last-child {
    margin-bottom: 0;
}


@keyframes showText {
    to {
        opacity: 1;
    }
}
