body {
    --first-color: hsl(351,80%,49%);
    --first-color-alt: hsl(358, 93%, 58%);
    --first-color-light: hsl(356, 74%, 48%);
    background-image: linear-gradient(to bottom right, var(--first-color), var(--first-color-alt));
}

.container {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 20px;
}

.image {
    margin-left: auto;
    animation: slideIn 1s;
}

.image img {
    max-width: 80%;
    margin-left: 230px;
    height: 700px;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding: 30px;
    margin-left: 100px;
    animation: slideInLeft 2s;
}

#text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding: 30px;
    margin-left: 100px;
    animation: slideInLeft 4s;
}

@keyframes slideIn {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
