body {
    --first-color: hsl(351,80%,49%);
    --first-color-alt: hsl(358, 93%, 58%);
    background-image: linear-gradient(to bottom right, var(--first-color), var(--first-color-alt));
}

.container {
    display: flex;
    align-items: center;
}

.image {
    margin-left: auto;
    animation: slideIn 2s;
}

.image img {
    max-width: 100%;
    margin-left: 40px;
    height: 700px;
}

#title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: slideInLeft 2s;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    margin-left: 90px;
    animation: slideInLeft 4s;
}

@keyframes slideIn {
    from {
        transform: translateX(300%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
