<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Errore</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .error-container {
      text-align: center;
    }
  </style>
</head>
<body>
<div class="error-container">
  <h1>Errore</h1>
  <p th:text="${errorMessage}">Messaggio di errore predefinito</p>
</div>
</body>
</html>
