<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Impianti</title>
    <script src="/GestioneImpianti/js_gestione_impianti.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var impianti = /*[[${impianti}]]*/ [];
    var palinsesti = /*[[${palinsesti}]]*/ [];

    $(document).ready(function(){
        impianti.forEach(function(impianto) {
            var idImpianto = impianto.idImpianto;
            var stato = impianto.stato;
            var descrizione = impianto.descrizione;
            var latitudine = impianto.latitudine;
            var longitudine = impianto.longitudine;

            const idPalinsesto = impianto.palinsesto_path.match(/\d+/)[0];

            aggiungiRiga(idImpianto, descrizione, stato, latitudine, longitudine, "P"+idPalinsesto, palinsesti);
        });
    });
    /*]]>*/
</script>

</body>
</html>
