<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Impianti</title>
    <script src="/GestioneImpianti/js_gestione_impianti.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Recupera i dati degli impianti dal modello
    var impianti = /*[[${impianti}]]*/ [];
    var palinsesti = /*[[${palinsesti}]]*/ [];

    // Esegui questa funzione al caricamento della pagina
    $(document).ready(function(){
        // Itera su ogni impianto nell'array
        impianti.forEach(function(impianto) {
            // Ottieni i valori desiderati
            var idImpianto = impianto.idImpianto;
            var stato = impianto.stato;
            var descrizione = impianto.descrizione;
            var latitudine = impianto.latitudine;
            var longitudine = impianto.longitudine;
            var palinsesto_path = impianto.palinsesto_path;

            // Aggiungi una nuova riga alla tabella per ogni impianto
            aggiungiRiga(idImpianto, descrizione, stato, latitudine, longitudine, palinsesto_path, palinsesti);
        });
    });
    /*]]>*/
</script>

</body>
</html>
