<!-- vista che viene restituita dal controller "ImpressioniController" che serve a popolare la pagina di impressioni -->

<script src="/Impressioni/js_impression.js"></script>
<script th:inline="javascript">
    var impianti = /*[[${impianti}]]*/ [];
    var palinsesti = /*[[${palinsesti}]]*/ [];
    var cartelloni = /*[[${cartelloni}]]*/ [];

    var idImpianti = [];
    var idPalinsesti = [];
    var idCartelloni = [];

    impianti.forEach(function (impianto) {
        idImpianti.push(impianto.idImpianto);
    });

    palinsesti.forEach(function (palinsesto) {
        idPalinsesti.push(palinsesto.idPalinsesto);
    });

    cartelloni.forEach(function (cartellone) {
        idCartelloni.push(cartellone.id_cartellone);
    });

    addOptionsToSelect(idImpianti, idPalinsesti, idCartelloni);
</script>
