<!DOCTYPE html>
<html lang="it">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Titolo della pagina</title>
 <script src="/GestioneImpianti/js_gestione_impianti.js"></script>
</head>
<body>
<script th:inline="javascript">
 var isUpdated = [[${isUpdated}]];
 if (isUpdated) {
  showToast("Operazione eseguita con successo", isUpdated);
 } else {
  showToast("Si è verificato un errore, riprova", isUpdated);
 }
</script>

</body>
</html>