<!DOCTYPE html>
<html lang="it">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Titolo della pagina</title>
 <script src="/GestioneImpianti/js_gestione_impianti.js"></script>
 <script src="/impianti/javascript/javascript_impianti.js"></script>
</head>
<body>
<script th:inline="javascript">
 /* Estrai il valore booleano dal modello Thymeleaf */
 var isUpdated = [[${isUpdated}]]; // Supponendo che "isSuccess" sia il nome dell'attributo booleano nel modello
 /* Mostra il messaggio in base al valore booleano */
 if (isUpdated) {
  showToast("Dati aggiornati con successo", isUpdated);
 } else {
  showToast("Errore durante l'aggiornamento", isUpdated);
 }
</script>

</body>
</html>