<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report di Visualizzazione</title>
</head>
<body>
<h1>Report di Visualizzazione</h1>
<table>
    <thead>
    <tr>
        <th>ID Impianto</th>
        <th>ID Cartellone</th>
        <th>ID Palinsesto</th>
        <th>Durata Totale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="imp : ${impressione}">
        <td th:text="${imp[0]}"></td>
        <td th:text="${imp[1]}"></td>
        <td th:text="${imp[2]}"></td>
        <td th:text="${imp[3]}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>