body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Imposta i figli in colonna */
    align-items: center; /* Centra orizzontalmente */
}

h1, h2 {
    text-align: left;
    color: #3c89b0;
    margin-top: 20px;
}

.button-container #button_impianto_più_attivo,
.button-container #button_palinsesto_più_attivo,
.button-container #button_cartellone_più_attivo {
    background-color: #3c89b0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    transition: background-color 0.5s, color 0.5s; /* Aggiungi una transizione per una transizione fluida */
}

.button-container #button_impianto_più_attivo:hover,
.button-container #button_palinsesto_più_attivo:hover,
.button-container #button_cartellone_più_attivo:hover {
    background-color: #45a049;
    color: #fff;
}

.content {
    max-width: max-content;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#idCartellone {
    max-width: 50px;
}

.form-container {
    display: flex;
    flex-direction: row; /* Stack elements horizontally */
    flex-wrap: wrap; /* Allow elements to wrap to new line */
    gap: 20px;
    align-items: center; /* Align items vertically centered */
}

.form-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #3c89b0;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3c89b0;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px 80px; /* Aumenta la larghezza del pulsante */
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s; /* Aggiungi una transizione per una transizione fluida */
}


input[type="submit"]:hover {
    background-color: #45a049;
}
